* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  /* border: 1px solid red; */
  padding: 20px;
  /* comment below line to show content  */
  /* display: none; */
}

.left {
  float: left;
}

.right {
  float: right;
}

.withclear {
  clear: both;
}

/* Position Static By default */

.main {
  border: 1px solid red;
  background: yellow;
  margin-top: 400px;
  /* display: none; */
}

.one {
  background: green;
}
.two {
  background: navajowhite;
}
span {
  background: rebeccapurple;
  color: white;
}

/* relative Position */

.relative {
  border: 1px solid red;
  background: yellow;
  margin-top: 400px;
  /* comment below line to show content  */
  /* display: none; */
}

.relative .one {
  background: green;
  position: relative;
  top: 200px;
  right: -50px;
  padding: 20px;
}
.relative .two {
  background: navajowhite;
  position: relative;
  top: -55px;
  padding: 20px;
}
span {
  background: rebeccapurple;
  color: white;
}

/* absolute Position to will stick to nearest relative/parent*/

.absolute {
  border: 1px solid red;
  background: yellow;
  margin-top: 400px;
  /* comment below line it will make parent to master div */
  position: relative;
}

.absolute .one {
  background: green;
  padding: 20px;
  /* position: absolute;
  top: 0;
  left: 0; */
}
.absolute .two {
  background: navajowhite;
  padding: 20px;
  position: absolute;
  top: 0;
  left: 0;
}
.absolute span {
  background: rebeccapurple;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
}

/* .absolute end  */

/* inset start */

.boxprop {
  margin: 10px;
  width: 200px;
  height: 200px;
  background: rgb(90, 235, 90);
}

.box2 {
  position: relative;
}

.box2 h1:hover {
  position: absolute;
  /* background-color: rgba(116, 116, 238, 0.39); */
  top: 10%;
  bottom: 10%;
  right: 10%;
  left: 10%;
  text-align: center;
  color: aliceblue;
}
.box2 h1 {
  position: absolute;
  background-color: rgba(116, 116, 238, 0);
  outline: 1px solid rgba(116, 116, 238, 0.39);
  outline-offset: 2px;
  /* top: 0;
  bottom: 0;
  right: 0;
  left: 0; */
  inset: 0;
  text-align: center;
  color: aliceblue;
  transition: all 0.2s linear;
}
