/* Relative value of screen  using %*/
/* width and height of element */
.outer {
  width: 300px;
  height: 400px;
  background-color: yellow;
}

/* inner depend on parent */
.inner {
  width: 50%;
  height: 50%;
  background-color: green;
}
