:root {
  --primaryColor: rgb(255, 0, 0);
  --primaryColor-2: rgb(255, 27, 27);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--primaryColor-2);
}

div {
  background: rgb(255, 255, 255);
}

h3 {
  color: blueviolet;
}

.container .title2 {
  color: aquamarine;
}

:is(.IsSpecialcontainer, .container) :not(.title2) {
  background-color: black;
  color: var(--primaryColor);
}
