* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 1px solid black;
}

div {
  /* display: inline-block; */
  width: 33%;
  height: 400px;
  color: aliceblue;
  text-transform: uppercase;
  text-align: center;
  transition: all 0.5s linear;
}
.red {
  background: red;
}
.green {
  background: green;
}
.blue {
  background: blue;
}

.tranx:hover {
  transform: translateX(100px);
}

.trany:hover {
  transform: translateY(100px);
}
.tranxy:hover {
  transform: translate(100px, 100px);
}

.rotatex:hover {
  transform: rotateX(20deg);
}

.rotatey:hover {
  transform: rotateY(180deg);
}
.rotatez:hover {
  transform: rotateZ(20deg);
}

.scalex:hover {
  transform: scaleX(2);
}

.scaley:hover {
  transform: scaleY(2);
  background: navajowhite;
  border-radius: 400px;
  /* transition: property duration delay; */
  /* transition: all 2s linear delay; */
}
.scalez:hover {
  transform: scaleZ(2);
}

.skewx:hover {
  transform: skewX(10deg);
}
.skewy:hover {
  transform: skewY(10deg);
}
.skew:hover {
  transform: skew(10deg, 10deg);
}

.ease:hover {
  width: 100vw;
  transition: width 1s ease;
}
.easein:hover {
  width: 100vw;
  transition: width 1s ease-in;
}
.easeinout:hover {
  width: 100vw;
  transition: width 1s ease-in-out;
}
.easeout:hover {
  width: 100vw;
  transition: width 1s ease-out;
}
.step-start:hover {
  width: 100vw;
  transition: width 1s step-start;
}
.step-end:hover {
  width: 100vw;
  transition: width 1s step-end;
}

.redo {
  background-color: green;
  height: 5vh;
  width: 10vw;
}

.tran {
  width: 200;
  height: 50px;
  transition: all 2s linear;
}

.tran:hover {
  background: green;
  color: aliceblue;
}

.animation {
  width: 200;
  height: 50px;
  /* animation-name: move;
  animation-duration: 20s;
  animation-iteration-count: 1;
  animation-fill-mode: both;
  animation-direction: reverse; */
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
  animation: move 5s ease-in 2s infinite reverse forwards;
}

@keyframes move {
  0% {
    background: green;
    transform: translateX(600px);
  }
  25% {
    background: rgb(128, 126, 0);
    transform: translateX(-400px);
  }
  50% {
    background: rgb(128, 83, 0);
    transform: translateX(200px);
  }
  75% {
    background: rgb(128, 47, 0);
    transform: translateX(-100px);
  }
  100% {
    background: rgb(128, 0, 0);
    transform: translateX(50px);
  }
}
